@font-face {
  font-family: weather;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot);
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix) format("embedded-opentype"), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff) format("woff"), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf) format("truetype"), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg) format("svg");
  font-weight: 400;
  font-style: normal
}

.weather {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase
}

.weather i {
  color: #666;
  font-family: weather;
  font-size: 100px;
  font-weight: 400;
  font-style: normal;
  line-height: 1
}

.weather i[class=icon0]:before {
  content: ":"
}

.weather i[class=icon1]:before {
  content: "p"
}

.weather i[class=icon2]:before {
  content: "S"
}

.weather i[class=icon3]:before {
  content: "Q"
}

.weather i[class=icon4]:before {
  content: "S"
}

.weather i[class=icon5]:before {
  content: "W"
}

.weather i[class=icon6]:before {
  content: "W"
}

.weather i[class=icon7]:before {
  content: "W"
}

.weather i[class=icon8]:before {
  content: "W"
}

.weather i[class=icon9]:before {
  content: "I"
}

.weather i[class=icon10]:before {
  content: "W"
}

.weather i[class=icon11]:before {
  content: "I"
}

.weather i[class=icon12]:before {
  content: "I"
}

.weather i[class=icon13]:before {
  content: "I"
}

.weather i[class=icon14]:before {
  content: "I"
}

.weather i[class=icon15]:before {
  content: "W"
}

.weather i[class=icon16]:before {
  content: "I"
}

.weather i[class=icon17]:before {
  content: "W"
}

.weather i[class=icon18]:before {
  content: "U"
}

.weather i[class=icon19]:before {
  content: "Z"
}

.weather i[class=icon20]:before {
  content: "Z"
}

.weather i[class=icon21]:before {
  content: "Z"
}

.weather i[class=icon22]:before {
  content: "Z"
}

.weather i[class=icon23]:before {
  content: "Z"
}

.weather i[class=icon24]:before {
  content: "E"
}

.weather i[class=icon25]:before {
  content: "E"
}

.weather i[class=icon26]:before {
  content: "3"
}

.weather i[class=icon27]:before {
  content: "a"
}

.weather i[class=icon28]:before {
  content: "A"
}

.weather i[class=icon29]:before {
  content: "a"
}

.weather i[class=icon30]:before {
  content: "A"
}

.weather i[class=icon31]:before {
  content: "6"
}

.weather i[class=icon32]:before {
  content: "1"
}

.weather i[class=icon33]:before {
  content: "6"
}

.weather i[class=icon34]:before {
  content: "1"
}

.weather i[class=icon35]:before {
  content: "W"
}

.weather i[class=icon36]:before {
  content: "1"
}

.weather i[class=icon37]:before {
  content: "S"
}

.weather i[class=icon38]:before {
  content: "S"
}

.weather i[class=icon39]:before {
  content: "S"
}

.weather i[class=icon40]:before {
  content: "M"
}

.weather i[class=icon41]:before {
  content: "W"
}

.weather i[class=icon42]:before {
  content: "I"
}

.weather i[class=icon43]:before {
  content: "W"
}

.weather i[class=icon44]:before {
  content: "a"
}

.weather i[class=icon45]:before {
  content: "S"
}

.weather i[class=icon46]:before {
  content: "U"
}

.weather i[class=icon47]:before {
  content: "S"
}

.weather h2 {
  margin: -10px 0 0 0;
  color: #666;
  font-size: 75px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .15)
}

.weather ul {
  margin: 0;
  padding: 0
}

.weather li {
  background: #666;
  background: rgba(255, 255, 255, .9);
  padding: 10px;
  margin-top: -25px;
  display: inline-block;
  border-radius: 5px
}

.weather .currently {
  margin: 0 20px
}